<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>

	<session-factory>

		<!-- HSQL 	
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem:mydvdsDB</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		-->
		
		<!-- MySQL -->	
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jobmanager</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">m123</property>

		<!-- Propriedades comuns -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

		<!-- Mapeamento das tabelas -->
 		<mapping class="br.com.jobmanager.model.Dvd" />
 		<mapping class="br.com.jobmanager.model.DvdRental" />
 		<mapping class="br.com.jobmanager.model.User" />
		<mapping class="br.com.jobmanager.model.Sistema" />

	</session-factory>

</hibernate-configuration>
	